<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
      >
        <chart-card
          :chart-data="totalMembersChart"
          :chart-options="totalMembersChartOptions"
          :chart-type="'Line'"
          data-background-color="orange"
        >
          <template slot="content">
            <h4 class="title">Total Members</h4>
            <p class="category">
              From a total population of:
              <span class="text-warning">
                {{ totalMembersChart.totalPopulation }} Persons
              </span>
            </p>
          </template>
        </chart-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
      >
        <chart-card
          :chart-data="mummyMoneyEarnedChart"
          :chart-options="mummyMoneyEarnedChartOptions"
          :chart-type="'Bar'"
          data-background-color="blue"
        >
          <template slot="content">
            <h4 class="title">Mummy Money Earned</h4>
            <p class="category">
              Last Campaign Performance
            </p>
          </template>
        </chart-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
      >
        <chart-card
          :chart-data="avgMoneyMemberChart"
          :chart-options="avgMoneyMemberChartOptions"
          :chart-type="'Bar'"
          data-background-color="green"
        >
          <template slot="content">
            <h4 class="title">Average Mummy Money Per Member</h4>
            <p class="category">
              Displayed per week
            </p>
          </template>
        </chart-card>
      </div>
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50" >
        <md-card>
          <md-card-header data-background-color="orange">
            <h4 class="title">Members Leaving</h4>
            <p class="category">Memebers leaving the program this week</p>
          </md-card-header>
          <md-card-content>
            <users-table
              table-header-color="orange"
              :users="membersLeavingTable.users"></users-table>
          </md-card-content>
        </md-card>
      </div>
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50" >
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">New Members</h4>
            <p class="category">New members entering this week</p>
          </md-card-header>
          <md-card-content>
            <users-table
              table-header-color="orange"
              :users="newMembersTable.users"
              ></users-table>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
import {
  ChartCard, UsersTable
} from "@/components";

export default {
  components: {
    ChartCard,
    UsersTable
  },
  data () {
    return {
      totalMembersChartOptions: {
        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      mummyMoneyEarnedChartOptions: {
        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      avgMoneyMemberChartOptions: {
        options: {
          axisX: {
            showGrid: false
          },
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0
          }
        }
      }
    }
  },
  props: {
    totalMembersChart: {
      type: Object,
      default: () => {
        return {};
      }
    },
    mummyMoneyEarnedChart: {
      type: Object,
      default: () => {
        return {};
      }
    },
    avgMoneyMemberChart:  {
      type: Object,
      default: () => {
        return {};
      }
    },
    newMembersTable:  {
      type: Object,
      default: () => {
        return {
          users: []
        };
      }
    },
    membersLeavingTable:  {
      type: Object,
      default: () => {
        return {
          users: []
        };
      }
    }
  }
};
</script>
