<template>
  <div
    class="sidebar"
    :data-image="backgroundImage"
    :style="sidebarStyle"
  >
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-img">
          <img :src="imgLogo" alt="" />
        </div>
      </a>
      <a href="#/" class="simple-text logo-normal"> {{ title }} </a>
    </div>
    <div class="sidebar-wrapper">
      <slot name="content"></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    backgroundImage: {
      type: String,
      default: require("@/assets/img/sidebar-5.jpg")
    },
    imgLogo: {
      type: String,
      default: require("@/assets/img/logo.png")
    },
    autoClose: {
      type: Boolean,
      default: true
    }
  },
  provide() {
    return {
      autoClose: this.autoClose
    };
  },
  computed: {
    sidebarStyle() {
      return {
        backgroundImage: `url(${this.backgroundImage})`
      };
    }
  }
};
</script>
<style>
.md-card.md-theme-default.sidebar-card {
  background: #ffffff30;
  margin: 0 auto;
}
.md-card.md-theme-default.sidebar-card .md-input {
  -webkit-text-fill-color: #FFF !important;
}
@media screen and (min-width: 991px) {
  .nav-mobile-menu {
    display: none;
  }
}
</style>
