<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>

    <side-bar :title="user.username">
      <template slot="content">
        <form class="navbar-form" @submit.prevent="simulate">
          <md-card class="sidebar-card">
            <md-card-content>
              <md-field>
                <label>Weeks</label>
                <md-input type="number" v-model="weeks"></md-input>
              </md-field>
            </md-card-content>
            <md-card-actions>
              <md-button type="submit">Simulate</md-button>
            </md-card-actions>
          </md-card>
        </form>
        <form class="navbar-form" @submit.prevent="addPopulationUniform">
          <md-card class="sidebar-card">
            <md-card-content>
              <md-field>
                <label>Amount of People</label>
                <md-input type="number" v-model="amount_uniform"></md-input>
              </md-field>
            </md-card-content>
            <md-card-actions>
              <md-button type="submit">
                Generate
              </md-button>
            </md-card-actions>
          </md-card>
        </form>
        <form class="navbar-form" @submit.prevent="addPopulationNormal">
          <md-card class="sidebar-card">
            <md-card-content>
              <md-field>
                <label>Amount of People</label>
                <md-input type="number" v-model="amount_normal"></md-input>
              </md-field>
            </md-card-content>
            <md-card-actions>
              <md-button type="submit">
                Generate
              </md-button>
            </md-card-actions>
          </md-card>
        </form>
      </template>
    </side-bar>

    <div class="main-panel">
      <top-navbar>
        <template slot="buttons">
          <md-list>
            <md-list-item>
              <md-button>Terminate Program</md-button>
            </md-list-item>
            <md-list-item>
              <md-button @click="logout">Logout</md-button>
            </md-list-item>
          </md-list>
        </template>
      </top-navbar>

      <dashboard-content
        :totalMembersChart="totalMembersChart"
        :mummyMoneyEarnedChart="mummyMoneyEarnedChart"
        :avgMoneyMemberChart="avgMoneyMemberChart"
        :newMembersTable="newMembersTable"
        :membersLeavingTable="membersLeavingTable"
        ></dashboard-content>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>

<script>
import User from './../services/user';
import Week from './../services/week';
import DashboardService from './../services/ws_dashboard';
import router from './../router/router';

import TopNavbar from "./layout/TopNavbar.vue";
import DashboardContent from "./layout/Content.vue";
import ContentFooter from "./layout/ContentFooter.vue";

export default {
  name: 'Dashboard',
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
  },
  data () {
    return {
      weeks: null,
      amount_normal: null,
      amount_uniform: null,
      totalMembersChart: {},
      mummyMoneyEarnedChart: {},
      avgMoneyMemberChart: {},
      newMembersTable: {
        users: [ ]
      },
      membersLeavingTable: {
        users: [ ]
      }
    }
  },
  computed: {
    user () {
      return this.$store.state.authStore;
    }
  },
  created () {
    DashboardService.connect(data => {
      this.membersLeavingTable.users = data.members_leaving;
      this.newMembersTable.users = data.new_members;

      this.totalMembersChart = {
        labels: data.past_weeks,
        series: [data.total_members_per_week],
        totalPopulation: data.total_population
      };
      this.mummyMoneyEarnedChart = {
        labels: data.past_weeks,
        series: [data.mummy_money_earned_per_week]
      };
      this.avgMoneyMemberChart = {
        labels: data.past_weeks,
        series: [data.avg_money_member_per_week]
      };
    });
  },
  methods: {
    logout () {
      User.logout().then(() => {
        return this.$store.dispatch('REMOVE_USER_INFO');
      }).then(() => {
        router.push('/login');
      });
    },
    simulate() {
      Week.simulateWeeks({'weeks': this.weeks});
    },
    addPopulationNormal() {
      User.generateNormalPopulation({'amount': this.amount_normal});
    },
    addPopulationUniform() {
      User.generateNormalPopulation({'amount': this.amount_uniform});
    }
  }
}
</script>
