<template>
  <div class="login-content">
    <div class="login-wrapper">
      <h1>Welcome to Mummy Money, Get Rich Quick Program!</h1>
      <p v-show="error_msg" class="error-msg">{{ error_msg }}</p>
      <div class="login-form">
        <form @submit.prevent="submit">
          <div>
            <input type="text" v-model="credentials.username"
            class="form-control" placeholder="Username">
          </div>
          <div>
            <input type="password" v-model="credentials.password"
            class="form-control" placeholder="Password">
          </div>
          <button class="btn btn-default btn-xl">Log in</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import User from '../services/user';

export default {
  name: 'Login',
  data () {
    return {
      credentials: {
        username: '',
        password: '',
      },
      error_msg: '',
    };
  },
  methods: {
    submit () {
      this.msg = '';
      User.login(this.credentials).then(() => {
        this.$store.dispatch('SET_USER_INFO').then(() => {
          this.$router.push('/dashboard');
        });
      }).catch((err) => {
        this.error_msg = err.body.non_field_errors[0];
      });
    },
  },
};

</script>

<style>
.login-content {
  min-height: 100%;
}

.login-wrapper {
  text-align: center;
  padding: 100px 15px;
  position: relative;
}

.error-msg {
  background: #f00;
  color: #fff;
}
</style>
