<template>
  <div>
    <md-table v-model="users" :table-header-color="tableHeaderColor">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="ID">{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Username">{{ item.user.username }}</md-table-cell>
        <md-table-cell md-label="Money Earned">{{ item.user.mummy_money }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: "simple-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    },
    selected: {
      type: Array,
      default: () => {
        return [];
      }
    },
    users: {
      type: Array,
      default: () => {
        return [];
      }
    }
  }
};
</script>
